<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserInfosDao">
    <select id="getAll" resultType="com.entity.UserInfos">
        select id,name,birthday from userinfos order by id
    </select>

    <insert id="insert">
        insert into userinfos(id,name,birthday)
        values(#{id},#{name},#{birthday})
    </insert>
</mapper>