<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
           default-init-method="init" default-destroy-method="destroy">
        <!--这种只能调用静态方法-->
        <!--    <bean id="first" class="com.factory.LFactory"-->
        <!--          factory-method="createL"></bean>-->


    <bean id="second" class="com.factory.LFactory"/>
    <bean id="second2" factory-bean="second" factory-method="creates"/>

    <!--
下面配置方式返回的A这个类的实例
原因是因为MyFactoryBean这个类实现了FactoryBean这个接口

如果没有这个实现,那么返回的就是MyFactoryBean这个实例本身
-->
    <bean id="third" class="com.factory.MyFactoryBean" scope="singleton"></bean>



</beans>