<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--构造函数注入形式
            ref:references的缩写,引用的意思,他的值，一般是另外一个被spring管理的bean的id-->
   <!-- <bean id="userDao" class="inject.complex.UserDaoImpl"></bean>
    <bean id="userService" class="inject.complex.UserServiceImpl">
        <constructor-arg ref="userDao"></constructor-arg>
    </bean>-->

    <!--setter方法注入（属性注入）-->

    <bean id="userDao" class="inject.complex.UserDaoImpl"></bean>
    <bean id="userService" class="inject.complex.UserServiceImpl">
        <property name="dao" ref="userDao"></property>
        <property name="xxx" value="111"></property>
    </bean>
</beans>